 <!-- to oppen dropdown dropdown--opened -->
 <div class="dropdown  " [ngClass]="{'dropdown--opened': isOpened}" (click)="isOpened= !isOpened">
    <!-- header -->
    <div class="dropdown__header">
        <ng-content select=".header"></ng-content>
        <!-- <a href="#" class="link">
            <img class="flag flag-us" src="" alt="">
            English
        </a>
        <i class="fas fa-angle-down"></i> -->
    </div>

    <!-- items -->
    <div class="dropdown__body">
        <ng-content select=".body"></ng-content>
        <!-- <ul class="dropdown__items list">
            <li class="dropdown__item list__item">
                <a href="#" class="link">
                    <img class="flag flag-us" src="" alt="">
                    English
                </a>
            </li>
            <li class="dropdown__item list__item">
                <a href="#" class="link">
                    <img class="flag flag-es" src="" alt="">
                    Español
                </a>
            </li>
            <li class="dropdown__item list__item">
                <a href="#" class="link">
                    <img class="flag flag-fr" src="" alt="">
                    Française
                </a>
            </li>
        </ul> -->
    </div>
</div>